#hello
/scala-program/.bsp/
/scala-program/.idea/
/scala-program/project/*
/scala-program/target/*
/count-divisors/.bsp/*
/count-divisors/.idea/*
/count-divisors/project/*
/count-divisors/target/*
/scala-CheckInteger-exist/target/*
/scala-CheckInteger-exist/project/*
/scala-CheckInteger-exist/.idea/*
/scala-CheckInteger-exist/.bsp/*

